{% extends 'base/base.html' %} {% load static %} {% block title %}Hezender
Aesthetic {% endblock title %} {% block content %}

<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h1>About Us</h1>
      <ul>
        <li class="item"><a href="/">Home</a></li>
        <li class="item active"><span></span>About</li>
      </ul>
    </div>
  </div>
  <div class="bg-image">
    <img
      src="{% static 'heze/images/page-title/about.jpg' %}"
      alt="Demo Image"
    />
  </div>
</div>

<div class="about-single-area">
  <section id="about" class="about-section pt-100 pb-70">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="image mb-30">
            <img src="{% static 'heze/images/wood.jpeg' %}" alt="Demo Image" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="content mb-30">
            <h2 class="title">
              Story Behind Hezender Aesthetic
              <span></span>
            </h2>
            <blockquote class="blockquote">
              We put our heart and soul into creating the best products for our
              customers.
            </blockquote>
            <p class="text">
              Hezender is the Nations Leader in Wood + Ice + MetalSculpt Therapy
              and products. Our unique techniques have given thousands of people
              the comfort of achieving their desired beauty with our non
              invasive Body + Face sculpting treatments. We are continually
              striving to remain in the forefront of the changes in the beauty
              industry. We are continually inspired to improve our products and
              offer sound therapy session. Better Products, Protocols, and
              Support inspires better results and business growth. Together we
              can achieve to be the best at what we do and grow.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-shape">
      <img src="{% static 'heze/images/line1.png' %}" alt="Shape Image" />
    </div>
  </section>

  <section class="promo-service-section pb-70">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="card mb-30">
            <h3 class="title">
              <a href="services-details.html">Quality Products Ensure</a>
            </h3>
            <p class="text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card mb-30">
            <h3 class="title">
              <a href="services-details.html">Update Technologies</a>
            </h3>
            <p class="text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card mb-30">
            <h3 class="title">
              <a href="services-details.html">Spa Specializing</a>
            </h3>
            <p class="text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card mb-30">
            <h3 class="title">
              <a href="services-details.html">Professional Team</a>
            </h3>
            <p class="text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card mb-30">
            <h3 class="title">
              <a href="services-details.html">Quick Customer Service</a>
            </h3>
            <p class="text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card mb-30">
            <h3 class="title">
              <a href="services-details.html">Quality Services Ensure</a>
            </h3>
            <p class="text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="service" class="service-section-four pb-70">
    <div class="container">
      <div class="section-title style-two">
        <h2 class="title">Services</h2>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that.
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-30">
            <div class="icon">
              <i class="flaticon spa"></i>
            </div>
            <div class="content">
              <h3 class="title">
                <a href="#">Spa & Health</a>
              </h3>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Laudantium nemo delectus, deleniti eaque facere necessitatibus!
              </p>
              <a href="services-details.html" class="btn-text">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-30">
            <div class="icon">
              <i class="flaticon scissors"></i>
            </div>
            <div class="content">
              <h3 class="title">
                <a href="#">Hair Cut</a>
              </h3>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Laudantium nemo delectus, deleniti eaque facere necessitatibus!
              </p>
              <a href="services-details.html" class="btn-text">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-30">
            <div class="icon">
              <i class="flaticon cosmetics"></i>
            </div>
            <div class="content">
              <h3 class="title">
                <a href="#">Makeup</a>
              </h3>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Laudantium nemo delectus, deleniti eaque facere necessitatibus!
              </p>
              <a href="services-details.html" class="btn-text">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
</div>
