{% extends 'base/base.html' %} {% load static %} {% block title %}Hezender
Aesthetic {% endblock title %} {% block content %}
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h1>Make Appointment</h1>
      <ul>
        <li class="item"><a href="/">Home</a></li>
        <li class="item active"><span></span>Appointment</li>
      </ul>
    </div>
  </div>
  <div class="bg-image">
    <img src="assets/images/page-title/appointment.jpg" alt="Demo Image" />
  </div>
</div>

<section id="appointment" class="appointment-section style-two ptb-100">
  <div class="container">
    <div class="appointment-form">
      <div class="content">
        <h3 class="title">Make Appointment</h3>
        <p class="text">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem.
        </p>
      </div>
      <form id="contactForm">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                required=""
                placeholder="Full Name"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input
                type="tel"
                name="phone"
                class="form-control"
                required=""
                placeholder="Phone Number"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="service"
                class="form-control"
                required=""
                placeholder="Service Name"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="time"
                class="form-control"
                required=""
                placeholder="Time"
              />
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <button type="submit" class="primary-btn">submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
